<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>BuildAccount</servlet-name>
        <servlet-class>bhirud.SERVLETS.BuildAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccount</servlet-name>
        <servlet-class>bhirud.SERVLETS.ShowAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllAccounts</servlet-name>
        <servlet-class>bhirud.SERVLETS.ShowAllAccounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeDeposit</servlet-name>
        <servlet-class>bhirud.SERVLETS.MakeDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeWithdrawal</servlet-name>
        <servlet-class>bhirud.SERVLETS.MakeWithdrawal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynamicQuery</servlet-name>
        <servlet-class>bhirud.SERVLETS.DynamicQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuildAccount</servlet-name>
        <url-pattern>/BuildAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccount</servlet-name>
        <url-pattern>/ShowAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllAccounts</servlet-name>
        <url-pattern>/ShowAllAccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeDeposit</servlet-name>
        <url-pattern>/MakeDeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeWithdrawal</servlet-name>
        <url-pattern>/MakeWithdrawal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicQuery</servlet-name>
        <url-pattern>/DynamicQuery</url-pattern>
    </servlet-mapping>
</web-app>
